<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>DataBase</display-name>
    <servlet>
        <servlet-name>TempLogin</servlet-name>
        <servlet-class>TempLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check</servlet-name>
        <servlet-class>Check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDesignation</servlet-name>
        <servlet-class>StudentDesignation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyDesignation</servlet-name>
        <servlet-class>FacultyDesignation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticeUpload</servlet-name>
        <servlet-class>NoticeUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetriveNotice</servlet-name>
        <servlet-class>RetriveNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnDecryption</servlet-name>
        <servlet-class>EnDecryption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAttachment</servlet-name>
        <servlet-class>UploadAttachment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetriveBody</servlet-name>
        <servlet-class>RetriveBody</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TempLogin</servlet-name>
        <url-pattern>/TempLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check</servlet-name>
        <url-pattern>/Check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDesignation</servlet-name>
        <url-pattern>/StudentDesignation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyDesignation</servlet-name>
        <url-pattern>/FacultyDesignation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticeUpload</servlet-name>
        <url-pattern>/NoticeUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetriveNotice</servlet-name>
        <url-pattern>/RetriveNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnDecryption</servlet-name>
        <url-pattern>/EnDecryption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAttachment</servlet-name>
        <url-pattern>/UploadAttachment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetriveBody</servlet-name>
        <url-pattern>/RetriveBody</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>NewWelcome.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SignupFaculty</servlet-name>
        <servlet-class>SignupFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupStudent</servlet-name>
        <servlet-class>SignupStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupFaculty</servlet-name>
        <url-pattern>/SignupFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupStudent</servlet-name>
        <url-pattern>/SignupStudent</url-pattern>
    </servlet-mapping>
</web-app>
